# Node modules
node_modules/

# Logs
*.log

# Environment files
.env
.env.local
.env.development
.env.test
.env.production

# Dependency directories
bower_components/

# build output
build/
dist/

# System files
.DS_Store

# npm package lock
package-lock.json

# Editor directories and files
.vscode/
.idea/

# OS-specific files (macOS, Windows, etc.)
Thumbs.db
